$dark-background-color: #1F2421;
$dark-text-color: #fefae0;

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $dark-background-color;
    color: $dark-text-color;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;

    font-size: 4em;
    background-color: #333;
    border: solid 1px $dark-text-color;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    margin: 1em;
    filter: drop-shadow(15px 15px black);

    background: // credit to https://projects.verou.me/css3patterns/#carbon
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        margin-bottom: 1em;
        font-weight: 700;
    }

    .player-name-form {

        filter: drop-shadow(5px 5px black); 
        border: solid 1px $dark-text-color;
        margin-bottom: 2em;
        
        input {
            font-size: 1.5em;
            padding: 0.5em;
            background-color: #131313;
            color: $dark-text-color;
        }

        .submit-button {
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #6c757d;
            }
        }
    }
}

.game-area {
    display: flex;
    justify-content: space-around;

    .player-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            color: $dark-text-color;
            font-size: 2em;
            filter: drop-shadow(5px 5px black); 
            margin-bottom: 1em;
        }
    }
}

.grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    filter: drop-shadow(15px 15px black); 

    div {
        padding: 1.5em;
        border: 1px $dark-text-color solid;
        background-color: #22223b;
    }

    .cell:hover {
        cursor: pointer;
    }

    // Active Spots:
    .cell .attacked {
        background-color: red;
    }
}

// Place ship controls form
.controls {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin-top: 2em;

    label {
        margin-right: 10px;
    }

    input[type="radio"] {
        margin-right: 5px;
    }

    input[type="submit"] {
        margin-top: 10px;
        padding: 8px 16px;
        background-color: #131313;
        color: $dark-text-color;
        border: 1px solid $dark-text-color;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #6c757d;
        }
    }
}